
body {
	font-size:15px;
	background:#f4f4f4;
}

.add-btn{
	margin-top:10px;
}

table tr th, table tr td {
	font-size:15px;
	padding:5px;
}

ul li {
	list-style:none;
	font-size:15px;
}

.button-group{
	width:130px;
	margin:auto;
	text-align:center;
}

.button-group a{
	margin:auto;
}

#loaderImage{
    display:none;
    position:absolute;
    top:120px;
    left:50%;
    width:100px;
    /* z-index:100; */
    margin:50px auto 50px auto;
}

.hidden
{
display:none;
}

/*TABLESHORTER

/* pager wrapper, div */
.pager {
  padding: 5px;
}
/* pager wrapper, in thead/tfoot */
td.pager {
  background-color: #e6eeee;
}
/* pager navigation arrows */
.pager img {
  vertical-align: middle;
  margin-right: 2px;
}
/* pager output text */
.pager .pagedisplay {
  font-size: 11px;
  padding: 0 5px 0 5px;
  width: 50px;
  text-align: center;
}

/*** loading ajax indeterminate progress indicator ***/
#tablesorterPagerLoading {
  background: rgba(255,255,255,0.8) url(icons/loading.gif) center center no-repeat;
  position: absolute;
  z-index: 1000;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.pager.disabled {
  display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.pager img.disabled {
  /* visibility: hidden */
  opacity: 0.5;
  filter: alpha(opacity=50);
}